.not-player1s-turn, .player2buttons, #player1InitiallyHidden, #player2InitiallyHidden {
  display: none;
}

.btn {
  margin: 10px 20px;
}

body {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url(../img/pig-background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background: rgba(255, 255, 255, .5);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  padding: 50px;
  margin-top: 50px;
  border-radius: 3px;
}

h4 {
  line-height: 1.5em;
}

#photographer, .playerboxes {
  text-align: center;
  padding-top: 30px;
}

.jumbotron {
  text-align: center;
}